{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  {{ block.super }}
  {% if original %}
    {% if original.can_fetch_company_data %}
      <li>
        <a href="{% url 'admin:django_companyatlas_backendinfo_search' original.pk 'data' %}" class="button">
          {% trans 'Search Data' %}
        </a>
      </li>
    {% endif %}
    {% if original.can_fetch_documents %}
      <li>
        <a href="{% url 'admin:django_companyatlas_backendinfo_search' original.pk 'documents' %}" class="button">
          {% trans 'Search Documents' %}
        </a>
      </li>
    {% endif %}
    {% if original.can_fetch_events %}
      <li>
        <a href="{% url 'admin:django_companyatlas_backendinfo_search' original.pk 'events' %}" class="button">
          {% trans 'Search Events' %}
        </a>
      </li>
    {% endif %}
  {% endif %}
{% endblock %}

